#driver-illustrator-text h2{
    color: rgb(221, 221, 221);
    padding: 25px;
    text-align: left;
    padding-left: 85px;
}
#sector2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: rgba(245, 91, 35, 0.938);
    margin-top: 20px;
    position: absolute;
    top: 108%;
    left: 5%;
    z-index: 1;
    width: 60%;
}
#cards{
    position: relative;
    width: 100%;
    top: 40%;
    right: 10%;
    background-color: transparent;  
}
#cards h2 {
    color: rgb(224, 222, 222);
    text-align: left;
    padding-left: 200px;
    padding-bottom: 10px;
    margin-bottom: 15px; 
}
.card{
    border-right : 1px solid rgba(35, 27, 104, 0.938);
    display: inline-block;
    margin-right: 30px;
    width:20%;
    background-color: transparent;
    box-shadow: 2px 3px 2px rgb(19, 19, 36);; 
}
.card-header{
    background-color: rgb(0, 0, 43);
    color: whitesmoke;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 7px;
}
/* .card-footer{
    background-color: rgb(0, 0, 19);
    color: whitesmoke;
} */
.card-body{
    background-color: rgb(0, 0, 43);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 10px;
}
.card-body-lower{
    background-color: rgb(0, 0, 43);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px 8px;
    color: whitesmoke
}
#driver-illustrator-image{
    float:left;
    padding-left: 5px;
    height: 400px;
}
#driver-illustrator-text{
    padding-top: 150px;
    padding-right: 170px;
    text-align: left;
    color: rgba(219, 109, 69, 0.938);
    font-size: 15px;
}
#driver-illustrator-text h2{
    color: wheat;
    padding-bottom: 20px;
}
#section4{
    background-color: black;
    padding-top: 100px;
    color:rgb(70, 70, 70)
}
#rucni{
    background-color: rgb(233, 231, 245);
    color: rgb(202, 133, 77);
    padding: 25px
}
#section-3-button{
    margin-top: 50px;
    padding: 10px 25px;
    background-color: rgba(230, 91, 41, 0.938);
    border-radius: 20px;
    border: 0;
    color: whitesmoke;
    font-weight: bold;
}
#whatIsRucni{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: -20px;
    text-align: left;
    padding-left: 200px;
}