html,
body {
  height: 100%;
  margin: 0;
  color: black;
  font-family: Helvetica;
}

body{
  background: url('./bg2.svg') no-repeat;
  background-size: cover;
  background-color: #cecece;
}

#container {
  text-align: center;
  margin: 0 10px;
}

h1 {
  font-size: 70px;
  font-weight: 400;
  margin: 0;
  padding: 0
}

h4 {
  font-size: 40px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

a {
  color: #F63500;
  text-decoration: none;
}