html,
body {
  height: 100%;
  margin: 0;
  color: black;
  font-family: Helvetica;
}

.input {
  width: 240px;
  font-size: 14px;
  background-color: transparent;
  margin-top: 20px;
  border: 0px solid black;
  border-bottom: 2px solid black;
}

#header{
  background-size: cover;
  background-color: #ffffff;
  height: 60vh;
  /* background-color: #cecece; */
}
#section2{
  background: url('./bg2.svg') no-repeat;
  background-size: cover;
  background-color: #ffffff;
  height: 100vh;
}

#section3{
  background-size: cover;
  /* background: url('./Rose-Petals.svg') no-repeat; */
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}

#container {
  text-align: center;
}
#rucni{
  font-size: 100px;
  padding:0px;
}
h1 {
  font-size: 70px;
  font-weight: 400;
  margin: 0;
  padding: 0
}

h4 {
  font-size: 40px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

a {
  color: #F63500;
  text-decoration: none;
}
